
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:8080"
    working_dir: /app
    volumes:
      - .:/app
      - go-mod-cache:/go/pkg/mod
    tty: true

volumes:
  go-mod-cache: