<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Packs Calculator</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/daisyui.css" />
    <script src="/assets/js/feather.min.js"></script>
  </head>
  <body>
    <div id="app" class="bg-gray-200 min-h-dvh flex">
      <main
        class="container mx-auto md:px-4 grow flex justify-center items-center"
      >
        <div class="card bg-base-100 w-full md:w-2/3 shadow-sm">
          <div class="card-body flex flex-col gap-10">
            <section>
              <h1 class="text-4xl font-bold mb-8">Order Packs Calculator</h1>
              <div
                class="overflow-x-auto rounded-box border border-gray-200 bg-base-100 w-full md:w-110"
              >
                <table class="table table-sm">
                  <thead class="bg-neutral text-white">
                    <tr>
                      <th class="text-center">Pack Size</th>
                      <th class="md:w-40 pl-20">
                        <span>Action</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(s, i) in packageSizes" :key="i">
                      <td v-if="i == editingSizeIndex" class="text-center">
                        <input
                          v-model="editedSize"
                          type="number"
                          class="input w-wide text-center"
                          required
                        />
                      </td>
                      <td v-else class="text-2xl text-center font-bold">
                        {{ s }}
                      </td>
                      <td class="flex gap-2 justify-end">
                        <button
                          v-if="i == editingSizeIndex"
                          @click="updatePackageSize(i)"
                          class="btn btn-outline btn-success btn-square"
                          :disabled="loading"
                        >
                          <i data-feather="check"></i>
                        </button>
                        <button
                          v-else
                          @click="editPackageSize(i)"
                          class="btn btn-outline btn-info btn-square"
                          :disabled="loading"
                        >
                          <i data-feather="edit"></i>
                        </button>
                        <button
                          v-if="i == editingSizeIndex"
                          @click="cancelEditPackageSize(i)"
                          class="btn btn-outline btn-square"
                          :disabled="loading"
                        >
                          <i data-feather="x"></i>
                        </button>
                        <button
                          v-else
                          @click="removePackageSize(i)"
                          class="btn btn-outline btn-error btn-square"
                          :disabled="loading"
                        >
                          <i data-feather="trash"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <input
                          v-model="size"
                          type="number"
                          placeholder="Enter pack size"
                          class="input w-wide text-center"
                          required
                        />
                      </td>
                      <td class="flex gap-2 justify-end">
                        <button
                          @click="addPackageSize"
                          class="btn btn-primary btn-square"
                          :disabled="loading"
                        >
                          <i data-feather="plus"></i>
                        </button>
                        <button
                          @click="clearSize"
                          class="btn btn-outline btn-square"
                          :disabled="!size"
                        >
                          <i data-feather="refresh-ccw"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <section>
              <h1 class="text-3xl font-bold mb-4">Calculate packs for order</h1>
              <fieldset
                class="fieldset border-black rounded-box border p-4 flex w-full md:w-110 gap-2"
              >
                <legend class="fieldset-legend text-lg mx-1">Items</legend>
                <div class="flex w-full gap-2">
                  <input
                    v-model="items"
                    type="number"
                    class="input w-wide"
                    placeholder="Enter total number of items"
                  />
                  <button
                    @click="calculateOrderPacks"
                    class="btn btn-primary min-w-24"
                    :disabled="packageSizes.length == 0"
                  >
                    <span
                      v-if="loading"
                      class="loading loading-spinner loading-md"
                    ></span>
                    <span v-else>Calculate</span>
                  </button>
                </div>
              </fieldset>
            </section>
            <section>
              <div
                class="overflow-x-auto rounded-box border border-gray-200 bg-base-100"
              >
                <table class="table table-sm">
                  <thead class="bg-neutral text-white">
                    <tr class="text-end font-bold">
                      <th class="text-center">Pack Size</th>
                      <th>Quantity</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-if="calculatedData.length == 0">
                      <td colspan="3">
                        <p class="italic label">
                          Enter pack sizes and item count details above before
                          clicking on the "Calculate" button to perform the
                          calculation.
                        </p>
                      </td>
                    </tr>
                    <tr
                      v-for="(row, idx) in calculatedData"
                      :key="idx"
                      class="text-2xl text-end font-bold"
                    >
                      <td class="text-center">{{ row.size }}</td>
                      <td>{{ row.quantity.toLocaleString() }}</td>
                      <td>{{ row.totalItems.toLocaleString() }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </main>
    </div>

    <script src="/assets/js/tailwind.js"></script>
    <script src="/assets/js/vue.global.js"></script>
    <script>
      const { createApp, ref, onMounted, nextTick } = Vue;

      createApp({
        setup() {
          const size = ref(null);
          const editedSize = ref(null);
          const items = ref(null);
          const packageSizes = ref([]);
          const calculatedData = ref([]);
          const loading = ref(false);
          const editingSizeIndex = ref(null);

          const clearCalculation = () => {
            items.value = null;
            calculatedData.value = [];
          };

          const clearSize = () => {
            size.value = null;
            clearCalculation();
          };

          const addPackageSize = () => {
            if (!size.value) return;

            packageSizes.value.push(size.value);
            size.value = null;
            clearCalculation();

            nextTick(() => {
              window.feather.replace();
            });
          };

          const removePackageSize = (idx) => {
            packageSizes.value.splice(idx, 1);
            clearCalculation();

            nextTick(() => {
              window.feather.replace();
            });
          };

          const editPackageSize = (idx) => {
            editingSizeIndex.value = idx;
            editedSize.value = packageSizes.value[idx];

            nextTick(() => {
              window.feather.replace();
            });
          };

          const updatePackageSize = (idx) => {
            packageSizes.value[idx] = editedSize.value;
            editingSizeIndex.value = null;
            editedSize.value = null;

            clearCalculation();

            nextTick(() => {
              window.feather.replace();
            });
          };

          const cancelEditPackageSize = (idx) => {
            editingSizeIndex.value = null;
            editedSize.value = null;

            nextTick(() => {
              window.feather.replace();
            });
          };

          const calculateOrderPacks = async () => {
            if (loading.value) return;

            loading.value = true;

            try {
              const resp = await fetch("/api/v1/calculate-packs", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  items: items.value,
                  packs: packageSizes.value,
                }),
              });

              if (!resp.ok) throw "unable to calculate order packs";

              const data = await resp.json();
              calculatedData.value = data
                .filter((row) => row.quantity > 0)
                .sort((a, b) => b.size - a.size);
            } catch (error) {
              console.error(error);
            } finally {
              loading.value = false;
            }
          };

          onMounted(() => {
            if (window.feather) {
              window.feather.replace();
            }
          });

          return {
            size,
            editedSize,
            items,
            packageSizes,
            calculatedData,
            loading,
            editingSizeIndex,
            addPackageSize,
            editPackageSize,
            updatePackageSize,
            cancelEditPackageSize,
            removePackageSize,
            clearSize,
            calculateOrderPacks,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
